<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.jactr.modules">
      <module
            class="org.jactr.modules.temporal.six.DefaultTemporalModule6"
            defaultEnabled="false"
            name="Temporal v6"
            requiresCommonReality="false"
            weight="10">
         <description>
            Implementation of Taatgen, Van Rijn and Anderson (2005) temporal module.
         </description>
      </module>
   </extension>
   <extension
         point="org.jactr.io.astparticipants">
      <astparticipant
            content="org/jactr/modules/temporal/temporal.jactr"
            contributingClass="org.jactr.modules.temporal.six.DefaultTemporalModule6"
            class="org.jactr.modules.temporal.io.TemporalModuleParticipant">
      </astparticipant>
   </extension>
   

</plugin>
