<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   

   <extension-point id="extensions" name="jACT-R Extensions" schema="schema/org.jactr.extension.exsd"/>
   <extension-point id="modules" name="jACT-R Modules" schema="schema/org.jactr.module.exsd"/>
   <extension-point id="instruments" name="jACT-R Instruments" schema="schema/instrument.exsd"/>
   <extension-point id="scriptfactory" name="Script Factory" schema="schema/scriptfactory.exsd"/>
   
   <extension point="org.jactr.modules" name="jACT-R Core Modules" id="org.jactr.core.modules">
      <module
            class="org.jactr.core.module.declarative.six.DefaultDeclarativeModule6"
            defaultEnabled="true"
            name="Declarative Module v6"
            requiresCommonReality="false"
            weight="0">
         <description>Provides chunk, chunk-type, and searching capabilities as well.A module of this type is REQUIRED.</description>   
      </module>
      <module
            class="org.jactr.core.module.procedural.six.DefaultProceduralModule6"
            defaultEnabled="true"
            name="Procedural Module v6"
            requiresCommonReality="false"
            weight="0">
         <description>
            Provides productions, conflict resolutions and firing. A module of this type is REQUIRED.
         </description>
      </module>
      <module
            class="org.jactr.core.module.goal.six.DefaultGoalModule6"
            defaultEnabled="true"
            name="Goal Module v6"
            requiresCommonReality="false"
            weight="10">
         <description>
            Provides basic goal support. Specifically: goal buffer. A module of this type is REQUIRED.
         </description>
      </module>
      <module
            class="org.jactr.core.module.retrieval.six.DefaultRetrievalModule6"
            defaultEnabled="true"
            name="Retrieval Module v6"
            requiresCommonReality="false"
            weight="10">
         <description>
            Provides retrieval operations and buffer. A module of this type is REQUIRED.
         </description>
      </module>
      
      <module
            class="org.jactr.modules.pm.visual.six.DefaultVisualModule6"
            defaultEnabled="false"
            name="Visual Module v6"
            requiresCommonReality="true"
            weight="15">
        <description>Provides basic vision support. When running, you must provide a common reality connection. NOTE: This module has only been partially tested. Attending, encoding, and finsts do work. Tracking is unknown.
        </description>
      </module>
      
      <module
            class="org.jactr.modules.pm.motor.six.DefaultMotorModule6"
            defaultEnabled="false"
            name="Motor Module v6"
            requiresCommonReality="true"
            weight="15">
        <description>Provides basic motor support. When running, you must provide a common reality connection. 

NOTE: This module has only been partially tested. punch, peck, peck-recoil are available. More commands in the future. Note also that this is motor not manual
        </description>
      </module>
      
      <module
            class="org.jactr.modules.pm.aural.six.DefaultAuralModule6"
            defaultEnabled="false"
            name="Aural Module v6"
            requiresCommonReality="true"
            weight="15">
        <description>Provides basic aural support. When running, you must provide a common reality connection. 

NOTE: This module is untested.
        </description>
      </module>
      
      <module
            class="org.jactr.modules.pm.vocal.six.DefaultVocalModule6"
            defaultEnabled="false"
            name="Vocal Module v6"
            requiresCommonReality="true"
            weight="15">
        <description>Provides basic vocal support. When running, you must provide a common reality connection. 

NOTE: This module is untested.
        </description>
      </module>
      
      <module
            class="org.jactr.core.module.declarative.four.learning.DefaultDeclarativeLearningModule4"
            defaultEnabled="false"
            name="Declarative Learning Module v4"
            requiresCommonReality="false"
            weight="5">
         <description>
            Provides the capability to learn declarative parameters. Specifically: the learning of associative strengths and activation values. Specific equations are configurable in the parameters so that various equations can be evaluated more easily.
NOTE: This module works but its values have not been verified.
         </description>
      </module>
      
      <module
            class="org.jactr.core.module.procedural.six.learning.DefaultProceduralLearningModule6"
            defaultEnabled="true"
            name="Procedural Learning Module v6"
            requiresCommonReality="false"
            weight="5">
         <description>
            Provides for the learning of production parameters: specifically P and C. Equations can be changed via parameters allowing for easier evaluation of different equations.
NOTE: This module has NOT been tested.
         </description>
      </module>
      <module
            class="org.jactr.core.module.random.six.DefaultRandomModule"
            defaultEnabled="true"
            name="Random Module v6"
            requiresCommonReality="false"
            weight="0">
         <description>
            Provides a centralized source for random numbers
         </description>
      </module>
      <module
            class="org.jactr.core.module.imaginal.six.DefaultImaginalModule6"
            defaultEnabled="true"
            name="Imaginal Module v6"
            requiresCommonReality="false">
         <description>
            Provides imaginal module
         </description>
      </module>
      <module
            class="org.jactr.core.module.declarative.six.learning.DefaultDeclarativeLearningModule6"
            defaultEnabled="true"
            name="Declarative Learning Module v6"
            requiresCommonReality="false"
            weight="5">
         <description>
            Provides the capability to learn declarative parameters. Specifically: the learning of associative strengths and activation values. Specific equations are configurable in the parameters so that various equations can be evaluated more easily.

NOTE: This module works but its values have not been verified.
         </description>
      </module>
   </extension>

   
   <extension point="org.jactr.instruments" name="jACT-R Core Instruments" id="org.jactr.core.instruments">
      <instrument
            class="org.jactr.core.logging.impl.DefaultModelLogger"
            hidden="false"
            name="Default Model Logger">
         <description>
            This instrument intercepts the log messages and sends them to a named file. After the file reaches a maximum size, it is backed up. The number of backups can be configured. By default, this instrument attaches to all the models in the runtime. When configured programmatically, you can specify which log streams go to which file. In the IDE, all the streams go to a single file.

MaxFileSize: in megabytes before the file is backed up and a new file created.
NumberOfBackups: the number of backups to retain.
all: what filename to send all the streams to.

http://jactr.org/node/142
         </description>
         <parameter name="attach" value="all"></parameter>         
         <parameter name="all" value="out"></parameter>
         <parameter name="MaxFileSize" value="1"></parameter>
         <parameter name="NumberOfBackups" value="2"></parameter>
      </instrument>
   </extension>
   <extension
         point="org.jactr.scriptfactory">
      <factory
            class="org.jactr.scripting.javascript.JavascriptFactory">
      </factory>
   </extension>
   
   
</plugin>
