<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension-point id="unitcompilers" name="ACT-R unit compiler" schema="schema/unitcompiler.exsd"/>
  <extension-point id="astparticipants" name="ACT-R ASTParticipants" schema="schema/astparticipant.exsd"/>
  <extension-point id="syntaxproviders" name="Parser and code generator for new syntaxes" schema="schema/syntaxproviders.exsd"/>
  <extension-point id="readerwriters" name="Model Reader and Writer" schema="schema/readerwriter.exsd"/>
  <extension-point id="translators" name="translator" schema="schema/translators.exsd"/>
  <extension
        point="org.jactr.io.astparticipants">
     <astparticipant
           contributingClass="org.jactr.core.module.declarative.six.DefaultDeclarativeModule6"
           content="org/jactr/io/include/declarative.jactr"
           class="org.jactr.io.participant.modules.DeclarativeModuleParticipant"/>
     <astparticipant
           contributingClass="org.jactr.core.module.procedural.six.DefaultProceduralModule6"
           content="org/jactr/io/include/procedural.jactr"
           class="org.jactr.io.participant.modules.ProceduralModuleParticipant"/>
     <astparticipant
           contributingClass="org.jactr.core.module.goal.six.DefaultGoalModule6"
           content="org/jactr/io/include/goal.jactr"
           class="org.jactr.io.participant.modules.GoalModuleParticipant"/>
     <astparticipant
           contributingClass="org.jactr.core.module.retrieval.six.DefaultRetrievalModule6"
           content="org/jactr/io/include/retrieval.jactr"
           class="org.jactr.io.participant.modules.RetrievalModuleParticipant"/>
     <astparticipant
           contributingClass="org.jactr.modules.pm.visual.six.DefaultVisualModule6"
           content="org/jactr/modules/pm/visual/visual.jactr"
           class="org.jactr.io.participant.modules.VisualModuleParticipant"/>
     <astparticipant
           contributingClass="org.jactr.modules.pm.motor.six.DefaultMotorModule6"
           content="org/jactr/modules/pm/motor/motor.jactr"
           class="org.jactr.io.participant.modules.MotorModuleParticipant"/>
     <astparticipant
           contributingClass="org.jactr.modules.pm.aural.six.DefaultAuralModule6"
           content="org/jactr/modules/pm/aural/aural.jactr"
           class="org.jactr.io.participant.modules.AuralModuleParticipant"/>  
     <astparticipant
           contributingClass="org.jactr.modules.pm.vocal.six.DefaultVocalModule6"
           content="org/jactr/modules/pm/vocal/vocal.jactr"
           class="org.jactr.io.participant.modules.VocalModuleParticipant"/>             
     <astparticipant
           contributingClass="org.jactr.core.module.imaginal.six.DefaultImaginalModule6"
           content="org/jactr/io/include/imaginal.jactr"
           class="org.jactr.io.participant.modules.ImaginalModuleParticipant"/>
     <astparticipant
           contributingClass="org.jactr.core.module.random.six.DefaultRandomModule"
           class="org.jactr.io.participant.modules.RandomModuleParticipant">
     </astparticipant>
     <astparticipant
           contributingClass="org.jactr.core.module.declarative.four.learning.DefaultDeclarativeLearningModule4"
           class="org.jactr.io.participant.modules.DeclarativeLearningModuleParticipant4">
     </astparticipant>
     <astparticipant
           contributingClass="org.jactr.core.module.declarative.six.learning.DefaultDeclarativeLearningModule6"
           class="org.jactr.io.participant.modules.DeclarativeLearningModuleParticipant6">
     </astparticipant>
     <astparticipant
           contributingClass="org.jactr.core.module.procedural.six.learning.DefaultProceduralLearningModule6"
           class="org.jactr.io.participant.modules.ProceduralLearningModuleParticipant">
     </astparticipant>
  </extension>
  <extension
        point="org.jactr.io.syntaxproviders">
     <syntaxprovider
           extension="jactr"
           generator="org.jactr.io.antlr3.generator.xml.JACTRCodeGenerator"
           parser="org.jactr.io.antlr3.parser.xml.JACTRModelParser">
           <description>Provides jactr core file format</description>
     </syntaxprovider>      
     <syntaxprovider
           extension="lisp"
           generator="org.jactr.io.antlr3.generator.lisp.LispCodeGenerator"
           parser="org.jactr.io.antlr3.parser.lisp.LispModelParser">
           <description>Provides rudimentary Lisp support</description>
     </syntaxprovider>      
  </extension>
  <extension
        point="org.jactr.io.readerwriters">
     <readerwriter
           extension="bin"
           writer="org.jactr.io.antlr3.writer.bin.BinaryModelWriter">
     </readerwriter>
     <readerwriter
           extension="jactr"
           writer="org.jactr.io.antlr3.writer.xml.JACTRModelWriter">
     </readerwriter>
     <readerwriter
           extension="lisp"
           writer="org.jactr.io.antlr3.writer.lisp.LispModelWriter">
     </readerwriter>
  </extension>
  <extension
        point="org.jactr.instruments">
     <instrument
           class="org.jactr.io.logging.XMLLogger"
           hidden="false"
           name="XML Model Logger">
        <parameter
              name="attach"
              value="all">
        </parameter>
        <description>
           An alternative logger that routes messages to an xml file. This logger attaches to all the models in the runtime.
FileName : the xml file to save to.

http://jactr.org/node/143
        </description>
        <parameter
              name="FileName"
              value="log.xml">
        </parameter>
     </instrument>
  </extension>
  <extension
        point="org.jactr.io.translators">
     <buffer
           destination="motor"
           message="Generalized motor buffer supercedes manual"
           source="manual">
     </buffer>
     <chunktype
           destination="attend-to"
           message="move-attention is automatically transformed to the more general attend-to"
           report="info"
           source="move-attention">
        <rename-slot
              destination="where"
              report="info"
              source="screen-pos">
        </rename-slot>
     </chunktype>
  </extension>
  <extension
        point="org.jactr.io.unitcompilers">
     <unitcompiler
           class="org.jactr.io.compiler.impl.StrictHarvestingUnitCompiler"
           defaultEnabled="true"
           name="Strict Harvesting"
           report="warn">
           <description>Issues warnings when strict harvesting is applicable</description>
     </unitcompiler>
  </extension>
</plugin>
