<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="commands" name="Import Commands from Package" schema="schema/commands.exsd"/>
   <extension
         point="org.jactr.instruments">
      <instrument
            class="org.jactr.tools.shell.BeanShellInterface"
            name="BeanShell">
         <parameter name="attach" value="all"/>
         <description>
            Provides a web accessible beanshell (localhost:9999) which allows full control via java syntax. 
         </description>
      </instrument>
   </extension>

</plugin>
